#ignore all files
*
!*/

vendor/

#except the following files
!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.sln
!*.vcproj
!*.vcxproj

!*.txt

!*.cs
!*.csproj
!*.resx

!*.go
!*.json
!*.mk

!*.hlsl
!*.fragment

!*.mold
!*.sc
!*.diagram

!*.ini
!*.bat

#except the following folders
.vscode/settings.json
