<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <mvpackage_dependency Include="exampleprojectname">
      <group>com.virtuos.tnt</group>
      <platforms>all</platforms>
      <!-- Specify '==number', '<=number' or 'latest' -->
      <version>latest</version>
      <!-- Specify StaticLibrary(default), DynamicLibrary, Dev, Test -->
      <type>StaticLibrary</type>
    </mvpackage_dependency>
  </ItemGroup>
</Project>