<Project ToolsVersion="4.0" DefaultTargets="Info" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="pom.props"/>
  <Import Project="$(SCM_LOCAL_REPO_ROOT)\com\virtuos\xcode\super_pom.targets"/>
</Project>