<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PackageDir>$(MSBuildProjectDirectory)</PackageDir>
    <PackagePlatform>Win32</PackagePlatform>
    <PackageName>${PackageName}</PackageName>
    <PackageSolution>${PackageName}.sln</PackageSolution>
    <PackageProjectGroup>Main</PackageProjectGroup>
  </PropertyGroup>
</Project>