@toolchain
    xtensa-esp32-base
@vars
    :esp.sdk.path:
        {HOME}/sdk/Arduino/esp32
    :esp.arduino.sdk.path:
        {esp.sdk.path}/tools/esp32-arduino-libs
    :flash.baud:
        921600
    :flash.mode:
        dio
    :flash.frequency:
        40m
    :flash.size:
        4MB
    :flash.port:
        /dev/tty.usbmodem4101
    :flash.elf_share_offset:
        0xb0
    :flash.partition_csv_file:
        {esp.sdk.path}/tools/partitions/default.csv
    :flash.bootloader_bin_offset:
        0x0
    :flash.partitions_bin_offset:
        0x8000
    :flash.bootapp0_bin_offset:
        0xe000
    :flash.application_bin_offset:
        0x10000
@prebuild.filecopy
    {esp.arduino.sdk.path}/sdkconfig
    {user.build.path}/sdkconfig
@ccompiler.path
    {esp.sdk.path}/tools/xtensa-esp-elf/bin/xtensa-{esp.mcu}-elf-gcc
@ccompiler.vars
    :generate.mapfile:
        -MMD
    :response.flags:
        @{esp.sdk.path}/flags/c_flags
    :response.defines:
        @{esp.sdk.path}/flags/defines
    :response.includes:
        @{esp.sdk.path}/flags/includes
    :switches:
        -w
        -Os
    :warning.switches:
        -Werror=return-type
    :defines:
        F_CPU=240000000L
        ARDUINO=10605
        ARDUINO_ESP32_DEV
        ARDUINO_ARCH_ESP32
        ARDUINO_BOARD="ESP32_DEV"
        ARDUINO_VARIANT={esp.mcu}
        ARDUINO_PARTITION_default
        ARDUINO_HOST_OS=darwin
        ARDUINO_FQBN="generic"
        ESP32=ESP32
        CORE_DEBUG_LEVEL=0
        ARDUINO_USB_CDC_ON_BOOT=0
    :system.prefix.includes:
        {esp.sdk.path}/include
    :system.includes:
        {esp.sdk.path}/cores/esp32
        {esp.sdk.path}/variants/{esp.mcu}
@ccompiler.args.(*-*-*-*)
    -c
    {generate-map-file}
    {response-flags}
    {switches}
    {warning-switches}
    {defines}
    {lib-defines}
    {response-defines}
    {system-prefix-includes}
    {system-includes}
    {user-prefix-includes}
    {user-includes}
    {response-includes}
    {source-file}
    -o
    {object-file}
@cppcompiler.path
    {esp.sdk.path}/tools/xtensa-esp-elf/bin/xtensa-{esp.mcu}-elf-g++
@cppcompiler.vars
    :generate.mapfile:
        -MMD
    :response.flags:
        @{esp.sdk.path}/flags/cpp_flags
    :response.defines:
        @{esp.sdk.path}/flags/defines
    :response.includes:
        @{esp.sdk.path}/flags/includes
    :switches:
        -w
        -Os
    :warning.switches:
        -Werror=return-type
    :defines:
        F_CPU=240000000L
        ARDUINO=10605
        ARDUINO_ESP32_DEV
        ARDUINO_ARCH_ESP32
        ARDUINO_BOARD="ESP32_DEV"
        ARDUINO_VARIANT={esp.mcu}
        ARDUINO_PARTITION_default
        ARDUINO_HOST_OS=darwin
        ARDUINO_FQBN="generic"
        ESP32=ESP32
        CORE_DEBUG_LEVEL=0
        ARDUINO_USB_CDC_ON_BOOT=0
    :system.prefix.includes:
        {esp.sdk.path}/include
    :system.includes:
        {esp.sdk.path}/cores/esp32
        {esp.sdk.path}/variants/{esp.mcu}
@cppcompiler.args.(*-*-*-*)
    -c
    {generate.mapfile}
    {response.flags}
    {switches}
    {warning.switches}
    {defines}
    {lib.defines}
    {system.response.defines}
    {system.prefix.includes}
    {system.includes}
    {user.prefix.includes}
    {user.includes}
    {response.includes}
    {user.source.file}
    -o
    {user.object.file}
@archiver.path
    {esp.sdk.path}/tools/xtensa-esp-elf/bin/xtensa-{esp.mcu}-elf-gcc-ar"
@archiver.args
@linker.path
    {esp.sdk.path}tools/xtensa-esp-elf/bin/xtensa-{esp.mcu}-elf-g++
@linker.vars
    :response.ldflags:
        @{esp.arduino.sdk.path}/flags/ld_flags
    :response.ldscripts:
        @{esp.arduino.sdk.path}/flags/ld_scripts
    :response.ldlibs:
        @{esp.arduino.sdk.path}/flags/ld_libs
@linker.args
    -Wl,--Map={user.build.path}/{user.project.name}.map
    {user.lib.paths}
    -Wl,--wrap=esp_panic_handler
    {response.ldflags}
    {response.ldscripts}
    -Wl,--start-group
    {user.lib.files}
    {response.ldlibs}
    -Wl,--end-group
    -Wl,-EL
    -o
    {user.build.path}/{user.project.name}.elf
@tool.generate-bootloader.path
    {esp.sdk.path}/tools/esptool/esptool
@tool.generate-bootloader.args
    --chip
    {esp.mcu}
    elf2image
    {flash.mode}
    --flash_freq
    {flash.frequency}
    --flash_size
    {flash.size}
    -o
    {user.build.path}/{user.project.name}.bootloader.bin
    {bootloader.elf.path}

@tool.generate-image-bin.path
    python3
@tool.generate-image-bin.vars
    :script:
        {esp.sdk}/tools/gen_esp32part.py
@tool.generate-image-bin.args
    --chip
    {esp.mcu}
    elf2image
    --flash_mode
    {flash.mode}
    --flash_freq
    {flash.frequency}
    --flash_size
    {flash.size}
    --elf-sha256-offset
    {flash.elf_share_offset}
    -o
    {user.build.path}/{user.project.name}.bin
    {user.build.path}/{user.project.name}.elf

@tool.generate-partitions.path
    python3
@tool.generate-partitions.vars
    :script:
        {esp.sdk.path}/tools/gen_esp32part.py
@tool.generate-partitions.args
    {script}
    -q
    {flash.partition_csv_file}
    {user.build.path}/{user.project.name}.partitions.bin

@tool.generate-elf-size.path
    {esp.sdk}/tools/xtensa-esp-elf/bin/xtensa-{esp.mcu}-elf-size"
@tool.generate-elf-size.args
    -A
    {user.build.path}/{user.project.name}.elf

@tool.flash.path
    {esp.sdk.path}/tools/esptool/esptool
@tool.flash.args
    --chip
    {esp.mcu}
    --port
    {flash.port}
    --baud
    {flash.baud}
    --before
    default_reset
    --after
    hard_reset
    write_flash
    -z
    --flash_mode
    keep
    --flash_freq
    keep
    --flash_size
    keep
    {flash.bootloader_bin_offset}
    {user.build.path}/{user.project.name}.bootloader.bin
    {flash.partitions_bin_offset}
    {user.build.path}/{user.project.name}.partitions.bin
    {flash.bootapp0_bin_offset}
    {esp.sdk.path}/tools/partitions/boot_app0.bin
    {flash.application_bin_offset}
    {user.build.path}/{user.project.name}.bin

#----------------------------------------------------------------------------------
#----------------------------------------------------------------------------------
#----------------------------------------------------------------------------------
#----------------------------------------------------------------------------------


#----------------------------------------------------------------------------------
@toolchain:xtensa-esp32-base
    xtensa-esp32
@vars
    :esp.mcu:
        esp32
    :bootloader.elf.path:
        {esp.arduino.sdk.path}/bin/bootloader_dio_40m.elf
@ccompiler.vars
    :system.includes:
        {esp.sdk.path}/dio_qspi/include
@cppcompiler.vars
    :system.includes:
        {esp.sdk.path}/dio_qspi/include

#----------------------------------------------------------------------------------
@toolchain:xtensa-esp32-base
    xtensa-esp32s3
@vars
    :esp.mcu:
        esp32s3
    :bootloader.elf.path:
        {esp.arduino.sdk.path}/bin/bootloader_qio_80m.elf
    :flash.frequency:
        80m
@ccompiler.vars
    :system.includes:
        {esp.sdk.path}/qio_qspi/include
@cppcompiler.vars
    :system.includes:
        {esp.sdk.path}/qio_qspi/include

#----------------------------------------------------------------------------------