@toolchain
    msdev-2019
@vars
    :toolchain.path:
        C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/VC/Tools/MSVC/14.29.30133
    :windows.sdk.path:
        C:/Program Files (x86)/Windows Kits/10/Include/10.0.19041.0
#---------------------------------------------
@ccompiler.path
    {toolchain.path}/bin/Hostx64/x64/cl.exe
@ccompiler.vars
    :includes:
        {toolchain.path}/include
@ccompiler.args
    /nologo
    /D 
    _CRT_SECURE_NO_WARNINGS
    /D 
    _CRT_NONSTDC_NO_WARNINGS
    /I
    {toolchain.path}/include
    /I 
    {windows.sdk.path}/ucrt
    /I
    {windows.sdk.path}/shared
    /I
    {windows.sdk.path}/um
@ccompiler.args.(*-*-debug-*)
    /D 
    _DEBUG
@ccompiler.args.(*-*-release-*)
    /D 
    NDEBUG
#---------------------------------------------
@cppcompiler.path
    {toolchain.path}/bin/Hostx64/x64/cl.exe
@cppcompiler.vars
    :includes:
        {toolchain.path}/include
@cppcompiler.args
    /nologo
    /D 
    _CRT_SECURE_NO_WARNINGS
    /D 
    _CRT_NONSTDC_NO_WARNINGS
    /I
    {toolchain.path}/include
    /I 
    {windows.sdk.path}/ucrt
    /I
    {windows.sdk.path}/shared
    /I
    {windows.sdk.path}/um
@cppcompiler.args.(*-*-debug-*)
    /D 
    _DEBUG
@cppcompiler.args.(*-*-release-*)
    /D 
    NDEBUG
#---------------------------------------------
@archiver.path
    {toolchain.path}/bin/Hostx64/x64/lib.exe
@archiver.vars
@archiver.args
    /nologo
    /out:{user.lib.file}
    {user.object.files}
#---------------------------------------------
@linker.path
    {toolchain.path}/bin/Hostx64/x64/link.exe
@linker.vars
    :system.lib.paths:
        {toolchain.path}/lib/x64
    :system.lib.files:
        kernel32.lib
        user32.lib
        gdi32.lib
        winspool.lib
        comdlg32.lib
        shell32.lib
        shlwapi.lib
        kernel32.lib
@linker.args
    /nologo
    /subsystem:console
    /incremental:no
    /opt:ref
    /opt:icf
#---------------------------------------------
