@toolchain
    clang
@vars
    :ClangPath:
        /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr
    :ClangBinPath:
        {ClangPath}/bin
    :ClangLibPath:
        {ClangPath}/lib
#--------------------------------------------------
@ccompiler.path
    {ClangBinPath}/clang
@ccompiler.vars
    :includes:
        -I{ClangPath}/include
        -I{ClangPath}/usr/include
        -I{ClangPath}/usr/local/include
@ccompiler.args
@ccompiler.args.(*-*-debug-*)
@ccompiler.args.(*-*-release-*)
#--------------------------------------------------
@linker.path
    {ClangBinPath}/clang
@linker.vars
    :linker.lib.paths:
        -L
        {ClangLibPath}
    :linker.lib.files:
        libc++.dylib
        libSystem.dylib
        libc++abi.dylib
        libobjc.A.dylib
@linker.args
    {linker.lib.paths}
