<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: substitutions.config 235 2006-08-15 02:16:56Z joshuaflanagan $ -->
<configuration>
  	<system.web>
		<compilation debug="false" />
		<customErrors mode="On" defaultRedirect="Error.htm" somethingExtra="True" />
		<trace requestLimit="500" pageOutput="false" />
	</system.web>
</configuration>